<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1619317190381-643a6b28d6e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80); height: 500px; width:vw;">
  <div class="container">
    <h1>Rent your caravan today!</h1>
    <p>And enjoy your holiday with maximum freedom</p>

    <div class= "main-form">
      <br>
      <br>
      <div class="title">FIND YOUR HOLIDAY RIDE</div>
      <%= form_tag caravans_path, class: "inner-form", method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              id: "search",
              placeholder: "what are you looking for?"
            %>
            <input class="datepicker" id="depart" type="text" placeholder="departure date">
            <input class="datepicker" id="return" type="text" placeholder="return date">
            <%= submit_tag "SEARCH", class: "btn-search" %>
        <%end%>
    </div>
    </div>
</div>

<div class="container">
  <div class="statement-box">
    <div class="box-layout">
      <h3>Rent one of these caravans today</h3>
      <br>
      <%= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged." %>
    </div>
    <%= link_to "SEE ALL CARAVANS", caravans_path, class: "btn-colored" %>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @caravans.sample(3).each do |caravan| %>
      <div class="card-caravan">
      <% if caravan.photos.attached? %>
        <%= cl_image_tag caravan.photos.first.key %>
        <% end %>
        <div class="card-caravan-infos">
          <div class="title-description">
            <h2><%= caravan.name %></h2>
          </div>
          <div>
            <h2 class="card-caravan-pricing">€ <%= number_with_precision(caravan.daily_rate, precision: 2) %></h2>
            <a href="/caravans/<%= "#{caravan.id}"%>" class="stretched-link"></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="statement-box">
    <div class="box-layout">
      <h3>Have a caravan sitting in your backyard?</h3>
      <br>
      <%= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged." %>
    </div>
    <%= link_to "ADD A CARAVAN", new_caravan_path, class:"btn-colored" %>
  </div>
</div>
