<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1619317190381-643a6b28d6e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80); height: 500px;";>
  <div class="container">
    <h1>Rent your caravan today!</h1>
    <p>And enjoy your holiday with maximum freedom.</p>
  </div>
</div>

<div class="container-fluid mt-100">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <article class="filter-group">
          <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
            <h6 class="title">Categories </h6>
          </a> </header>
          <div class="filter-content collapse" id="collapse_aside1" style="">
            <div class="card-body">
              <ul class="list-menu">
                  <li><a href="#" data-abc="true">Electronics </a></li>
                  <li><a href="#" data-abc="true">Watches </a></li>
                  <li><a href="#" data-abc="true">Laptops </a></li>
                  <li><a href="#" data-abc="true">Clothes </a></li>
                  <li><a href="#" data-abc="true">Accessories </a></li>
              </ul>
            </div>
          </div>
      </article>
      <article class="filter-group">
        <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
          <h6 class="title">Price </h6>
        </a> </header>
        <div class="filter-content collapse" id="collapse_aside2" style="">
            <div class="card-body"> <input type="range" class="custom-range" min="0" max="100" name="">
              <div class="form-row">
                <div class="form-group col-md-6"> <label>Min</label> <input class="form-control" placeholder="$0" type="number"> </div>
                <div class="form-group text-right col-md-6"> <label>Max</label> <input class="form-control" placeholder="$1,0000" type="number"> </div>
              </div> <a href="#" class="highlight-button btn btn-medium button xs-margin-bottom-five" data-abc="true">Apply Now</a>
            </div>
        </div>
      </article>
      <article class="filter-group">
        <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside3" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
          <h6 class="title">Size </h6>
          </a> </header>
            <div class="filter-content collapse" id="collapse_aside3" style="">
            <div class="card-body"> <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> XS </span> </label> <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> SM </span> </label> <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> LG </span> </label> <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> XXL </span> </label> <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> XXXL </span> </label> </div>
        </div>
      </article>
      <article class="filter-group">
        <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside4" data-abc="true" class="collapsed" aria-expanded="false"> <i class="icon-control fa fa-chevron-down"></i>
          <h6 class="title">Rating </h6>
          </a> </header>
          <div class="filter-content collapse" id="collapse_aside4" style="">
            <div class="card-body"> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
            <div class="custom-control-label">Better </div>
            </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
            <div class="custom-control-label">Best </div>
            </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
            <div class="custom-control-label">Good</div>
            </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
            <div class="custom-control-label">Not good</div>
            </label> </div>
        </div>
      </article>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h3>Rent one of these caravans today</h3>
</div>

<div class="container">
  <div class="cards">
    <% @caravans.each do |caravan| %>
      <div class="card-caravan">
        <img src="https://picsum.photos/300/200" alt="caravan image" style="object-fit: cover; object-position: top; height: 200; crop: fill" />
        <div class="card-caravan-infos">
          <div>
            <h2><%= caravan.name %></h2>
            <p><%= caravan.description %></p>
          </div>
          <div>
            <h2 class="card-caravan-pricing">€ <%= caravan.daily_rate %></h2>
            <a href="/caravans/<%= "#{caravan.id}"%>" class="stretched-link"></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!---
<div class="container">
  <div class="cards">
    <% @caravans.each do |caravan| %>
      <div class="card-caravan">
        <img src="https://picsum.photos/300/200" alt="caravan image" style="object-fit: cover; object-position: top; height: 200; crop: fill" />
        <div class="card-caravan-infos">
          <div>
            <h2><%= caravan.name %></h2>
            <p><%= caravan.description %></p>
          </div>
          <div>
            <h2 class="card-caravan-pricing">€ <%= caravan.daily_rate %></h2>
            <p><strong><%= link_to "Delete", caravan_path(caravan), method: :delete, data: { confirm: "Are you sure?" } %></strong></p>
          </div>
          <a href="/caravans/<%= "#{caravan.id}"%>" class="stretched-link"></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
--->
